<div class="jumbotron text-center" id ="addBar">
    <h1>Add Bar</h1>

    <p>{{ message }}</p>

    <div ng-controller="addbarcontroller">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">


                <form ng-submit="addBar(newBar)">

                    <div class="col-md-4" ><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Bar Name</div>
                    <div class="col-md-8" ><input class="form-control" id ="barName" type="text" name="barName" placeholder="Enter name of bar" ng-model="newBar.barName" required = "true"></div>
                    <br><br><br>

                    <div class="col-md-4" ><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Location of Bar</div>
                    <div class="col-md-8" ><input class="form-control" id ="location"  type="text" name="location" placeholder="Enter location of bar" ng-model="newBar.location" required = "true"></div>
                    <br><br><br>

                    <div class="col-md-4" ><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>Earnings of Bar</div>
                    <div class="col-md-8" ><input class="form-control" id ="earnings"   type="number" name="earnings"  placeholder="Please enter the earnings of the bar" ng-model="newBar.earnings" required = "true"></div>
                    <br><br><br>
                    <div class="col-md-2" ></div><div class="col-md-8" ><button class ="btn btn-primary"  id ="submit" type = "submit">CREATE BAR</button></div>
                </form>
                <br> <br>  <br>

            </div>
        </div>
    </div></div>