<div class="jumbotron text-center">
    <h1>List All Bars</h1>

    <p>{{ message }}</p>

    <div ng-controller="barlistController as list">
        <table align="center" valign="middle">
            <tbody ng-repeat="bar in bars ">
            <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle"; >

            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{bar.barName}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{bar.location}}</span>
            </td>

            <td>
                <span class="glyphicon glyphicon-euro"></span>
                {{bar.earnings}}
            </td>
            <td>

                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>


                <button type="button" class="btn btn-default" ng-click="delete(donation._id)">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button type="button" class="btn btn-default" ng-click="update(donation)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                </span>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>