<div class="jumbotron text-center" id="stafflist">
    <h1>List All Staff</h1>

    <p>{{ message }}</p>

    <div ng-controller="stafflistController as list">
        <table align="center" valign="middle">
            <tbody ng-repeat="staff in staffs ">
            <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle"; >

            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{staff.name}}</span>
            </td>
            <td name="wage">
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{staff.wage}}</span>
            </td>
            <td>
                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{staff.role}}</span>
            </td>

            <td>
                <span class="glyphicon glyphicon-euro"></span>
                {{staff.wage}}
            </td>
            <td>

                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>


                <button type="button" class="btn btn-default" ng-click="delete(staff._id)">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button type="button" class="btn btn-default" ng-click="update(staff)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                </span>
            </td>
            </tr>
            </tbody>
        </table>
        <tr>
            <td>
                <input type="number" id="wage" ng-model="current.wage" value="{{current.wage}}"/>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="save(current._id)">Save</button>
            </td>
        </tr>
    </div>
</div>